@model IEnumerable<GeekShoppingWeb.Models.ProductModel>


    <div class="container p-4 border">
        <div class="row pb-2">
            <div class="col">
                <h1 class="text-primary"> Product List</h1>
            </div>
            <div class="col text-end pt-1">     
                    <a asp-action="ProductCreate" class="btn btn-outline-primary"><i class="fas fa-plus"></i> Create new product</a>         
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Image
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Size
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        Price
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                 @Html.HiddenFor(model => item.Id)
                    <tr>
                        <td><img src="@item.ImageUrl" style="width:100px" /></td>
                        <td>@item.Name</td>
                        <td>@item.Size</td>
                        <td>@item.Category</td>
                        <td>@item.Price.ToString("c")</td>
                        <td>
                             <button type="button" class="btn btn-success"> <a asp-action="ProductUpdate" asp-route-id="@item.Id"><i class="fa fa-edit" style="color:#fff;"></i></a></button>
                        <button type="button" class="btn btn-danger"> <a asp-action="ProductDelete" asp-route-id="@item.Id"><i class="fa fa-trash" style="color:#fff;"></i></a></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
  